html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.outputs-wrapper {
  margin: 10px 16px 16px;
  padding: 0 12px;
  text-align: center;
  background-color: #dcefff;
  -webkit-box-shadow: 4px 4px 5px 1px #aaa;
  box-shadow: 4px 4px 5px 1px #aaa;
  max-width: 545px;
  overflow-x: auto;
  overflow-y: hidden;
}

.custom-inputs {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-top: 6px;
  border: none;
  padding: 5px;
  font-size: 14px;
  outline: none;
}

button.default {
  margin: 15px 10px 0;
  font-size: 14px;
  padding: 8px 14px;
  border-radius: 0;
  border: 0;
  outline: none;
  cursor: pointer;
  font-weight: 600;
}

button.primary {
  background-color: #aeffae;
}